body {
    width: 100vw;
    height: 100vh;
    background-color: #666;
}

.aspNetHidden {
    height: 0px !important;
    flex: 0 !important;
}

#MainForm {
    position: absolute;
    left: 50%;
    top: 50%;

    transform:rotate(5deg);

    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin-left: -200px;
    margin-top: -300px;
}

#MainForm > div {
    display: flex;
    flex-direction: row;
    flex: 2;
}

#MainForm > div > * {
    box-sizing: border-box;
    flex: 2;
    max-width: 100%;

}

#txtInput {
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
    text-align: right;

    transform: none;
    transition: transform 1s;
}

#txtInput:hover {
    transform: scale(2) rotateX(360deg) translateY(-30px);
}

.CalcButton {
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;

    transition: transform 0.2s;
}

.CalcButton:hover {
    cursor: pointer;
    transform: rotate(-365deg) scale(1.5);
}

#SelectArea {
    position: fixed;
    right: 10px;
    bottom: -20px;
}