* {
    margin: 0;
    padding: 0;

    font-family: Arial;
}

.PageDivider {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}