@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #233343;
}

body {
    font-family: Roboto Slab;
    font-size: 14px;
}

#PageContainer {
    display: flex;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;
}

#Head {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    font-family: 'Lobster';
    font-size: 40px;
    background-color: #233343;
    color: white;

    padding-right: 40px;

    user-select: none;
}

    #Head > .Circle {
        width: 20px;
        height: 20px;
        margin-left: 40px;
        margin-top: 5px;
        border-radius: 100%;
        background-color: white;
    }

        #Head > .Circle > .Circle {
            width: 50%;
            height: 50%;
            margin-left: 35%;
            margin-top: 35%;
            border-radius: 100%;
            background-color: #333;
        }


    #Head .Title {
        color: white;
        margin-left: 10px;
    }

    #ButtonArea {
        font-family: Roboto Slab;
        font-size: 18px;
    }

    #ButtonArea a {
        color: white;
        text-decoration: none;

        margin-left: 30px;
    }

    #ButtonArea a:hover {
        cursor: pointer;
    }

#Body {
    display: flex;
    flex-direction: row;

    flex: 2;
}

#MainMap {
    flex: 2;
}

#SideBar {
    width: 500px;
    border-left: 1px solid #BBB;

    background-color: #FCFCFC;
}

#SideBar > div {
    width: 100%;

    padding: 10px;

    border-bottom: 1px solid #BBB;

}

#SideBar h2 {
    font-family: 'Lobster';

    margin-bottom: 5px;
}

#SideBar h3 {
    font-family: 'Roboto Slab';
    font-size: 16px;

    margin-left: 10px;
    margin-bottom: 2px;
}

#SideBar h3:not(:first-child) {
    margin-top: 15px;
}

#SideBar input[type="text"] {
    width: 300px;
    margin-left: 12px;

    font-size: 15px;
}

#SideBar input[type="button"] {
    width: 300px;
    margin-left: 12px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

    #SideBar input[type="button"]:hover {
        cursor: pointer;
    }

#OptionsBar p {
    margin-left: 10px;
}

.Spacer {
    flex: 2;
}

#pnlFiles > div {
    user-select: none;
    box-sizing: border-box;

    margin-left: 12px;

    transition: padding-left 0.1s;
}

    #pnlFiles > div:not(:last-child) {
        margin-bottom: 5px;
    }

    #pnlFiles > div:hover {
        cursor: pointer;
        padding-left: 5px;
    }